@model Drink


<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body >
    <section class="top">
        <div class="block">
            <div class="left_item">
                <img name="drink_img" src=" " style="height:500px" />
                <script>drink_img.src = localStorage.getItem('4');
                    // localStorage.clear();</script>
                <div style="width:1000px" >
                    <span style="font-weight:bold; font-family:Roboto">Информация о продукте:</span>
                </div>
                <div style="width:1000px">
                    @Model.Name,  Размер напитка: @Model.Size.Name,
                    @if (Model.Milk is not null)
                    {<span>Молоко: @Model.Milk.Name </span>}, @if (Model.Espresso is not null)
                    {<span>Эспрессо: @Model.Espresso.Name </span>}
                    @if (Model.Cream is not null)
                    {<span>Сливки: @Model.Cream.Name </span>}

                </div>
                <div style="width:1000px">
                    <span style="font-weight:bold; font-family:Roboto">Добавки:</span>
                </div>
                <div>
                    @if (ViewBag.espShots is not null)
                    {
                        @foreach (var esp in ViewBag.espShots)

                        {
                            @esp.Key
                            <span>:</span>
                            @esp.Value
                            <span>, </span>
                        }
                    }
                </div>
                <div>
                    @if (ViewBag.milkName is not null)
                        @ViewBag.milkName
                </div>

                <div style="width:600px">


                    @if (ViewBag.syrops is not null)
                    {<span style="font-family:Roboto">Добавленные сиропы: </span>
                        @foreach (var esp in ViewBag.syrops)

                        {
                            @esp.Key
                            <span>:</span>
                            @esp.Value
                            <span> </span>
                        }
                    }
                </div>
                <div style="width:1000px">
                    Белки: @Model.Proteins, Жиры: @Model.Fats, Углеводы: @Model.Carbohidrates, Калории: @Model.Calories,
                </div>

            </div>
            <script>let syrop_counter = [0, 0, 0, 0, 0, 0, 0, 0];
                function func(param1, param2) {

                    switch (param1) {
                        case "plus1":
                            if (param1 == "plus1") {
                                syrop_counter[0] += 1;
                                document.getElementById(param2).textContent = syrop_counter[0];
                            }


                            break;
                        case "plus2":
                            if (document.getElementById(param1).id == "plus2") {
                                syrop_counter[1] += 1;
                                document.getElementById(param2).textContent = syrop_counter[1];
                            }


                            break;
                        case "plus3":
                            if (document.getElementById(param1).id == "plus3") {
                                syrop_counter[2] += 1;
                                document.getElementById(param2).textContent = syrop_counter[2];
                            }


                            break;
                        case "plus4":
                            if (document.getElementById(param1).id == "plus4") {
                                syrop_counter[3] += 1;
                                document.getElementById(param2).textContent = syrop_counter[3];
                            }


                            break;
                        case "plus5":
                            if (document.getElementById(param1).id == "plus5") {
                                syrop_counter[4] += 1;
                                document.getElementById(param2).textContent = syrop_counter[4];
                            }

                            break;
                        case "plus6":
                            if (document.getElementById(param1).id == "plus6") {
                                syrop_counter[5] += 1;
                                document.getElementById(param2).textContent = syrop_counter[5];
                            }

                            break;
                        case "plus7":
                            if (document.getElementById(param1).id == "plus7") {
                                syrop_counter[6] += 1;
                                document.getElementById(param2).textContent = syrop_counter[6];
                            }

                            break;
                        case "plus8":
                            if (document.getElementById(param1).id == "plus8") {
                                syrop_counter[7] += 1;
                                document.getElementById(param2).textContent = syrop_counter[7];
                            }
                            break;
                        case "minus1":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[0] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[0];
                            }
                            break;
                        case "minus2":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[1] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[1];
                            }
                            break;
                        case "minus3":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[2] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[2];
                            }
                            break;
                        case "minus4":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[3] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[3];
                            }
                            break;
                        case "minus5":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[4] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[4];
                            }
                            break;
                        case "minus6":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[5] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[5];
                            }
                            break;
                        case "minus7":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[6] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[6];
                            }
                            break;
                        case "minus8":
                            if (document.getElementById(param2).textContent != "0") {
                                syrop_counter[7] -= 1;
                                document.getElementById(param2).textContent = syrop_counter[7];
                            }
                            break;
                    }

                    document.getElementById('pizda4').value = document.getElementById('syrop_counter_rast').textContent;
                    document.getElementById('pizda5').value = document.getElementById('syrop_counter_alm').textContent;
                    document.getElementById('pizda6').value = document.getElementById('syrop_counter_choko').textContent;
                    document.getElementById('pizda7').value = document.getElementById('syrop_counter_vanilla').textContent;
                    document.getElementById('pizda8').value = document.getElementById('syrop_counter_irish').textContent;
                    document.getElementById('pizda9').value = document.getElementById('syrop_counter_caram').textContent;
                    document.getElementById('pizda10').value = document.getElementById('syrop_counter_coco').textContent;
                    document.getElementById('pizda11').value = document.getElementById('syrop_counter_nut').textContent;
                };</script>

            <script>function milk_name_output(param1, param2) {

                    document.getElementById(param2).textContent = document.getElementById(param1).textContent;
                    console.log(document.getElementById(param1).textContent);
                };</script>

            <script>let esp_counter = [0, 0, 0];
                function func_esp(param1, param2) {

                    switch (param1) {
                        case "plus1":
                            if (param1 == "plus1") {
                                esp_counter[0] += 1;
                                document.getElementById(param2).textContent = esp_counter[0];
                            }


                            break;
                        case "plus2":
                            if (document.getElementById(param1).id == "plus2") {
                                esp_counter[1] += 1;
                                document.getElementById(param2).textContent = esp_counter[1];
                            }


                            break;
                        case "plus3":
                            if (document.getElementById(param1).id == "plus3") {
                                esp_counter[2] += 1;
                                document.getElementById(param2).textContent = esp_counter[2];
                            }
                            break;
                        case "minus1":
                            if (document.getElementById(param2).textContent != "0") {
                                esp_counter[0] -= 1;
                                document.getElementById(param2).textContent = esp_counter[0];
                            }
                            break;
                        case "minus2":
                            if (document.getElementById(param2).textContent != "0") {
                                esp_counter[1] -= 1;
                                document.getElementById(param2).textContent = esp_counter[1];
                            }
                            break;
                        case "minus3":
                            if (document.getElementById(param2).textContent != "0") {
                                esp_counter[2] -= 1;
                                document.getElementById(param2).textContent = esp_counter[2];
                            }
                            break;
                    }
                    document.getElementById('pizda1').value = document.getElementById('esp_counter').textContent;
                    document.getElementById('pizda2').value = document.getElementById('esp_counter_decaf').textContent;
                    document.getElementById('pizda3').value = document.getElementById('esp_counter_blonde').textContent;
                };</script>
            <script>function espCounter(param1, param2, param3, param4) {
                    console.log(document.getElementById(param1).asp);
                    document.getElementById(param1).asp.route.espCount = 3;
                    document.getElementById(param1).asp.route.espDecafCount = 3;
                    document.getElementById(param1).asp.route.espBlondeCount = 3;
                };</script>

            <script>function espCounter1(param1) {
                    var a = document.getElementById(param1).textContent;

                    return (a);

                };</script>
            <script>function espCounter2(param2) {
                    var a = document.getElementById(param2).textContent;
                    return (a);

                };</script>
            <script>function espCounter1(param3) {
                    var a = document.getElementById(param3).textContent;
                    return (a)
                };</script>

            <div class="right_item">
                <div class="config_size_text">
                    Выберите размер
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin  pb5 line" id="line" />
                </div>


                @if (Model.Name == "Эспрессо")
                {
                    <div class="size_buttons">

                        <figure class="lemonade_img">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-sizeName="Соло">
                                <button class="short_button" onclick="press()" type="submit"></button>
                            </form>

                            <figcaption class="size_text">Соло</figcaption>
                        </figure>



                        <figure class="lemonade_img">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-sizeName="Доппио">
                                <button class="tall_button" type="submit"></button>
                            </form>
                            <figcaption class="size_text">Доппио</figcaption>
                        </figure>
                    </div>
                }

                else
                {
                    <div class="size_buttons">

                        <figure class="lemonade_img">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-sizeName="Шорт">
                                <button class="short_button" onclick="press()" type="submit"></button>
                            </form>

                            <figcaption class="size_text">Short</figcaption>
                        </figure>

                        <figure class="lemonade_img">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-sizeName="Толл">
                                <button class="tall_button" type="submit"></button>
                            </form>
                            <figcaption class="size_text">Tall</figcaption>
                        </figure>

                        <figure class="lemonade_img">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-sizeName="Гранде">
                                <button class="grande_button" type="submit"></button>
                            </form>
                            <figcaption class="size_text">Grande</figcaption>
                        </figure>

                        <figure class="lemonade_img">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-sizeName="Венти">
                                <button class="venti_button" type="submit"></button>
                            </form>
                            <figcaption class="size_text">Venti</figcaption>
                        </figure>
                    </div>
                }


                @if (Model.Milk is not null && Model.Espresso is not null)
                {
                    <div class="config_size_text">
                        Основные компоненты
                        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                    </div>

                    <div class="add_buttons">
                        <button class="add_button1" data-bs-toggle="modal" data-bs-target="#milkmodal"><span id="milk_but">Молоко</span></button>
                        <button class="add_button2" data-bs-toggle="modal" data-bs-target="#espmodal">Эспрессо</button>
                    </div>

                    <div class="config_size_text">
                        Добавки
                        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                    </div>
                    <div class="add_buttons">
                        <button class="add_button1" data-bs-toggle="modal" data-bs-target="#esp_addmodal">Эспрессо</button>
                        <button class="add_button2" data-bs-toggle="modal" data-bs-target="#syropmodal">Сироп</button>
                        <button class="add_button2" data-bs-toggle="modal" data-bs-target="#creammodal">Сливки</button>
                    </div>
                }

                else
                {
                    <div class="config_size_text">
                        Добавки
                        <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                    </div>
                    <div class="add_buttons">
                        <button class="add_button1" data-bs-toggle="modal" data-bs-target="#tea_milkmodal"><span id="milk_but">Молоко</span></button>
                        <button class="add_button2" data-bs-toggle="modal" data-bs-target="#esp_addmodal">Эспрессо</button>
                        <button class="add_button2" data-bs-toggle="modal" data-bs-target="#syropmodal">Сироп </button>
                        <button class="add_button2" data-bs-toggle="modal" data-bs-target="#creammodal">Сливки</button>
                    </div>
                }





            </div>
        </div>
        <!--Modal-->
        <div class="modal fade" id="milkmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Молоко</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Молоко
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-milkName="Обычное молоко">
                                <button id="standart" class="first_milk_button" onclick="milk_name_output('milk','milk_but')" type="submit"><span id="milk">Стандартное молоко</span></button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-milkName="Кокосовое молоко">
                                <button class="add_button" type="submit">Кокосовое молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-milkName="Овсяное молоко">
                                <button class="add_button" type="submit">Овсяное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-milkName="Безлактозное молоко">
                                <button class="add_button" type="submit">Безлактозное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-milkName="Соевое молоко">
                                <button class="add_button" type="submit">Соевое молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-milkName="Маложирное молоко">
                                <button class="add_button" type="submit">Маложирное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-milkName="Миндальное молоко">
                                <button class="last_milk_temp_button" type="submit">Миндальное молоко</button>
                            </form>
                        </div>

                        <div class="milk_text">
                            Температура молока
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <button class="first_milk_button">Детская температура</button>
                            <button class="add_button">Стандартная температура</button>
                            <button class="last_milk_temp_button">Повышенная температура</button>
                        </div>
                        <button class="Complit-button" onclick="func(milk_but, milk)">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="tea_milkmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Молоко</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Молоко
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-addmilkName="Обычное молоко">
                                <button id="standart" class="first_milk_button" onclick="milk_name_output('milk','milk_but')" type="submit"><span id="milk">Стандартное молоко</span></button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-addmilkName="Кокосовое молоко">
                                <button class="add_button" type="submit">Кокосовое молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-addmilkName="Овсяное молоко">
                                <button class="add_button" type="submit">Овсяное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-addmilkName="Безлактозное молоко">
                                <button class="add_button" type="submit">Безлактозное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-addmilkName="Соевое молоко">
                                <button class="add_button" type="submit">Соевое молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-addmilkName="Маложирное молоко">
                                <button class="add_button" type="submit">Маложирное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-addmilkName="Миндальное молоко">
                                <button class="last_milk_temp_button" type="submit">Миндальное молоко</button>
                            </form>
                        </div>

                        <div class="milk_text">
                            Температура молока
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <button class="first_milk_button">Детская температура</button>
                            <button class="add_button">Стандартная температура</button>
                            <button class="last_milk_temp_button">Повышенная температура</button>
                        </div>
                        <button class="Complit-button" onclick="func(milk_but, milk)">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="syropmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Сиропы
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <div class="rastberry">
                                <span>Малиновый сироп</span>
                                <div class="syrop_buttons">
                                    <button id="plus1" onclick="func('plus1','syrop_counter_rast')"> <span>+</span></button>
                                    <span id="syrop_counter_rast" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus1" onclick="func('minus1','syrop_counter_rast')"><span>-</span></button>
                                </div>
                            </div>
                            <div class="rastberry">
                                <span>Миндальный сироп пампы</span>
                                <div class="syrop_buttons">
                                    <button id="plus2" onclick="func('plus2','syrop_counter_alm')"> <span>+</span></button>
                                    <span id="syrop_counter_alm" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus2" onclick="func('minus2','syrop_counter_alm')"><span>-</span></button>
                                </div>
                            </div>
                            <div class="rastberry">
                                <span>  Шоколадный соус пампы</span>
                                <div class="syrop_buttons">
                                    <button id="plus3" onclick="func('plus3','syrop_counter_choko')"> <span>+</span></button>
                                    <span id="syrop_counter_choko" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus3" onclick="func('minus3','syrop_counter_choko')"><span>-</span></button>
                                </div>
                            </div>
                            <div class="rastberry">
                                <span>  Ванильный сироп пампы</span>
                                <div class="syrop_buttons">
                                    <button id="plus4" onclick="func('plus4','syrop_counter_vanilla')"> <span>+</span></button>
                                    <span id="syrop_counter_vanilla" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus4" onclick="func('minus4','syrop_counter_vanilla')"><span>-</span></button>
                                </div>
                            </div>
                            <div class="rastberry">
                                <span>  Сироп Ирландский Крем пампы</span>
                                <div class="syrop_buttons">
                                    <button id="plus5" onclick="func('plus5','syrop_counter_irish')"> <span>+</span></button>
                                    <span id="syrop_counter_irish" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus5" onclick="func('minus5','syrop_counter_irish')"><span>-</span></button>
                                </div>
                            </div>
                            <div class="rastberry">
                                <span>  Карамельный сироп пампы</span>
                                <div class="syrop_buttons">
                                    <button id="plus6" onclick="func('plus6','syrop_counter_caram')">+</button>
                                    <span id="syrop_counter_caram" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus6" onclick="func('minus6','syrop_counter_caram')"><span>-</span></button>
                                </div>
                            </div>
                            <div class="rastberry">
                                <span>  Кокосовый сироп пампы</span>
                                <div class="syrop_buttons">
                                    <button id="plus7" onclick="func('plus7','syrop_counter_coco')"> <span>+</span></button>
                                    <span id="syrop_counter_coco" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus7" onclick="func('minus7','syrop_counter_coco')"><span>-</span></button>
                                </div>
                            </div>
                            <div class="rastberry">
                                <span>  Ореховый сироп пампы</span>
                                <div class="syrop_buttons">
                                    <button id="plus8" onclick="func('plus8','syrop_counter_nut')"> <span>+</span></button>
                                    <span id="syrop_counter_nut" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus8" onclick="func('minus8','syrop_counter_nut')"><span>-</span></button>
                                </div>
                            </div>
                        </div>
                        <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-malinCount="0" asp-route-mindalCount="0" asp-route-chocolateCount="0"
                              asp-route-vanillaCount="0" asp-route-irelandCount="0" asp-route-caramelCount="0" asp-route-coconutCount="0" asp-route-nutCount="0">
                            <input id="pizda4" type="number" name="malinCount" style="opacity: 0; display:none" />
                            <input id="pizda5" type="number" name="mindalCount" style="opacity: 0; display: none" />
                            <input id="pizda6" type="number" name="chocolateCount" style="opacity: 0; display: none" />
                            <input id="pizda7" type="number" name="vanillaCount" style="opacity: 0; display: none" />
                            <input id="pizda8" type="number" name="irelandCount" style="opacity: 0; display: none" />
                            <input id="pizda9" type="number" name="caramelCount" style="opacity: 0; display: none" />
                            <input id="pizda10" type="number" name="coconutCount" style="opacity: 0; display: none" />
                            <input id="pizda11" type="number" name="nutCount" style="opacity: 0; display: none" />
                            <button type="submit" class="Complit-button">Готово</button>
                        </form>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="espmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog" id="creammodal1">
                <div class="modal-content">
                    <div class="modal-header">

                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Эспрессо
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-espressoName="Шот Эспрессо">
                                <button class="first_milk_button" type="submit">Эспрессо Шоты</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-espressoName="Шот Декаф Эспрессо">
                                <button class="add_button" type="submit">Эспрессо Декаф</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Basis" asp-route-espressoName="Шот Блонд Эспресс">
                                <button class="last_milk_temp_button" type="submit">Блонд Эспрессо</button>
                            </form>
                        </div>

                        <button class="Complit-button">Готово</button>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="esp_addmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog" id="creammodal1">
                <div class="modal-content">
                    <div class="modal-header">

                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Эспрессо
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">

                            <div class="rastberry">
                                <span>Эспрессо Шоты</span>
                                <div class="syrop_buttons">
                                    <button id="plus1" onclick="func_esp('plus1','esp_counter')"> <span>+</span></button>
                                    <span id="esp_counter" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus1" onclick="func_esp('minus1','esp_counter')"><span>-</span></button>
                                </div>
                            </div>


                            <div class="rastberry">
                                <span>Эспрессо Декаф Шоты</span>
                                <div class="syrop_buttons">
                                    <button id="plus1" onclick="func_esp('plus2','esp_counter_decaf')"> <span>+</span></button>
                                    <span id="esp_counter_decaf" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus1" onclick="func_esp('minus2','esp_counter_decaf')"><span>-</span></button>
                                </div>
                            </div>


                            <div class="rastberry">
                                <span> Блонд Эспрессо Шоты</span>
                                <div class="syrop_buttons">
                                    <button id="plus1" onclick="func_esp('plus3','esp_counter_blonde')"> <span>+</span></button>
                                    <span id="esp_counter_blonde" style="font-size: font-size: 1.9rem !important">0</span>
                                    <button id="minus1" onclick="func_esp('minus3','esp_counter_blonde')"><span>-</span></button>
                                </div>
                            </div>

                        </div>

                        <form method="post" asp-controller="Drinks" asp-action="AddEspresso">
                            <input id="pizda1" type="number" name="espCount" style="opacity: 0; display:none" />
                            <input id="pizda2" type="number" name="espDecafCount" style="opacity: 0; display: none" />
                            <input id="pizda3" type="number" name="espBlondeCount" style="opacity: 0; display: none" />
                            <button type="submit" class="Complit-button">Готово</button>
                        </form>


                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="creammodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog" id="creammodal1">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Сливки
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id"  asp-route-drinkName="@Model.Name" asp-route-addCream="Сливки жидкие">
                                <button class="first_milk_button">Сливки жидкие</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id"  asp-route-drinkName="@Model.Name" asp-route-addCream="Сливки жидкие соевые">
                                <button class="add_button">Сливки жидкие соевые</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id"  asp-route-drinkName="@Model.Name" asp-route-addCream="Сливки взбитые">
                                <button class="add_button">Сливки взбитые</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id"  asp-route-drinkName="@Model.Name" asp-route-addCream="Сливки взбитые соевые">
                                <button class="last_milk_temp_button">Сливки взбитые соевые</button>
                            </form>
                        </div>
                        <button class="Complit-button">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <!--Modal-->

    </section>

</body>
</html>
