@model Drink


<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body >
    <section class="top">
        <div class="block">
            <div class="left_item">
                <img name="drink_img" src=" " style="height:500px" />
                <script>drink_img.src = localStorage.getItem('4');
                    // localStorage.clear();</script>
                <div style="width:1000px">
                    Информация о продукте:
                </div>
                <div style="width:1000px">
                    @Model.Name  Размер напитка: @Model.Size.Name, Молоко: @Model.Milk.Name, Эспрессо: @Model.EspressoId @Model.Espresso.Name
                   
                </div>
                <div style="width:1000px">
                    Белки: @Model.Proteins, Жиры: @Model.Fats, Углеводы: @Model.Carbohidrates, Калории: @Model.Calories,
                </div>
            </div>

            <div class="right_item">
                <div class="config_size_text">
                    Выберите размер
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin  pb5 line" id="line" />
                </div>

                <div class="size_buttons">

                    <figure class="lemonade_img">
                        <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-sizeName="Шорт">
                            <button class="short_button" onclick="press()" type="submit"></button>
                        </form>

                        <figcaption class="size_text">Short</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-sizeName="Толл">
                            <button class="tall_button" type="submit"></button>
                        </form>
                        <figcaption class="size_text">Tall</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-sizeName="Гранде">
                            <button class="grande_button" type="submit"></button>
                        </form>
                        <figcaption class="size_text">Grande</figcaption>
                    </figure>



                    <figure class="lemonade_img">
                        <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-sizeName="Венти">
                            <button class="venti_button" type="submit"></button>
                        </form>
                        <figcaption class="size_text">Venti</figcaption>
                    </figure>


                </div>

                <div class="config_size_text">
                    Основные компоненты
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                </div>

                <div class="add_buttons">
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#milkmodal">Молоко</button>
                    <button class="add_button2" data-bs-toggle="modal" data-bs-target="#espmodal">Эспрессо</button>
                </div>

                <div class="config_size_text">
                    Добавки
                    <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                </div>
                <div class="add_buttons">
                    <button class="add_button1" data-bs-toggle="modal" data-bs-target="#syropmodal">Сироп</button>
                    <button class="add_button2" data-bs-toggle="modal" data-bs-target="#creammodal">Сливки</button>
                </div>

            </div>
        </div>
        <!--Modal-->
        <div class="modal fade" id="milkmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="milkmodalLabel">Молоко</h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Молоко
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-milkName="Стандартное молоко">
                                <button class="first_milk_button" type="submit">Стандартное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-milkName="Кокосовое молоко">
                                <button class="add_button" type="submit">Кокосовое молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-milkName="Овсяное молоко">
                                <button class="add_button" type="submit">Овсяное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-milkName="Безлактозное молоко">
                                <button class="add_button" type="submit">Безлактозное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-milkName="Соевое молоко">
                                <button class="add_button" type="submit">Соевое молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-milkName="Маложирное молоко">
                                <button class="add_button" type="submit">Маложирное молоко</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-milkName="Миндальное молоко">
                                <button class="last_milk_temp_button" type="submit">Миндальное молоко</button>
                            </form>
                        </div>

                        <div class="milk_text">
                            Температура молока
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <button class="first_milk_button">Детская температура</button>
                            <button class="add_button">Стандартная температура</button>
                            <button class="last_milk_temp_button">Повышенная температура</button>
                        </div>
                        <button class="Complit-button">Готово</button>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
            </div>
        </div>

        <div class="modal fade" id="syropmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Сиропы
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <button class="first_milk_button">Малиновый сироп</button>
                            <button class="add_button">Миндальный сироп</button>
                            <button class="add_button">Шоколадный соус</button>
                            <button class="add_button">Ванильный сироп</button>
                            <button class="add_button">Сироп Ирландский Крем</button>
                            <button class="add_button">Карамельный сироп</button>
                            <button class="add_button">Кокосовый сироп</button>
                            <button class="last_milk_temp_button">Ореховый сироп</button>
                        </div>
                        <button class="Complit-button">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="espmodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog" id="creammodal1">
                <div class="modal-content" >
                    <div class="modal-header">
                       
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Эспрессо
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-espressoName="Шот Эспрессо">
                                <button class="first_milk_button" type="submit">Эспрессо</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-espressoName="Шот Декаф Эспрессо">
                                <button class="add_button" type="submit">Эспрессо Декаф Эспрессо</button>
                            </form>
                            <form method="post" asp-controller="Drinks" asp-action="Calories" asp-route-drinkId="@Model.Id" asp-route-espressoName="Шот Блонд Эспрессо">
                                <button class="last_milk_temp_button" type="submit">Блонд Эспрессо</button>
                            </form>
                        </div>
                        <button class="Complit-button">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="creammodal" tabindex="-1" aria-bs-labelledby="milkmodalLabel" aria-hidden="true">
            <div class="modal-dialog" id="creammodal1">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="milk_text">
                            Сливки
                            <hr aria-hidden="true" class="sb-rule sb-rule--thin pb5 line" id="line" />
                        </div>
                        <div class="milk_buttons">
                            <button class="first_milk_button">Сливки жидкие</button>
                            <button class="add_button">Сливки жидкие соевые</button>
                            <button class="add_button">Сливки взбитые</button>
                            <button class="last_milk_temp_button">Сливки взбитые соевые</button>
                        </div>
                        <button class="Complit-button">Готово</button>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        <!--Modal-->

    </section>

</body>
</html>
