@model IEnumerable<Dessert>

@{
    Layout = "AdminPanel";
}

<h3>Добавить Dessert</h3>
<form asp-action="AddDessert" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Weight</label><br />
        <input type="text" name="Weight" />
    </p>
    <p>
        <label>Proteins</label><br />
        <input type="text" name="Proteins" />
    </p>
    <p>
        <label>Fats</label><br />
        <input type="text" name="Fats" />
    </p>
    <p>
        <label>Carbohidrates</label><br />
        <input type="text" name="Carbohidrates" />
    </p>
    <p>
        <label>Calories</label><br />
        <input type="text" name="Calories" />
    </p>
    <input type="submit" value="Добавить" />
</form>

<br />

<h3>Поиск по:</h3>
<form asp-action="Desserts" method="post" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="name" />
    </p>
    <input type="submit" value="Фильтр" />
</form>

<table>
    <caption>
        Desserts
    </caption>
    <tr>
        <th>
            <a>
                Id
            </a>
        </th>
        <th>
            <a>
                Name
            </a>
        </th>
        <th>
            <a>
                Weight
            </a>
        </th>
        <th>
            <a>
                Proteins
            </a>
        </th>
        <th>
            <a>
                Fats
            </a>
        </th>
        <th>
            <a>
                Carbohidrates
            </a>
        </th>
        <th>
            <a>
                Calories
            </a>
        </th>
    </tr>
    @foreach(Dessert des in Model)
    {
        <tr>
            <td>@des.Id</td>
            <td>@des.Name</td>
            <td>@des.Weight</td>
            <td>@des.Proteins</td>
            <td>@des.Fats</td>
            <td>@des.Carbohidrates</td>
            <td>@des.Calories</td>
            <td style="display:flex;">
                <form asp-controller="Admin" asp-action="DeleteDessert" method="post" asp-route-id="@des.Id" style="display:flex;">
                    <input type="submit" value="Удалить">
                </form>
                <form asp-controller="Admin" asp-action="UpdateDessert" method="post" asp-route-id="@des.Id" style="display:flex;">
                    <p>
                        <label>Name</label><br />
                        <input type="text" name="Name" />
                    </p>
                    <p>
                        <label>Weight</label><br />
                         <input type="text" name="Weight" />
                    </p>
                    <p>
                        <label>Proteins</label><br />
                         <input type="text" name="Proteins" />
                    </p>
                    <p>
                        <label>Fats</label><br />
                         <input type="text" name="Fats" />
                    </p>
                    <p>
                        <label>Carbohidrates</label><br />
                         <input type="text" name="Carbohidrates" />
                    </p>
                    <p>
                        <label>Calories</label><br />
                         <input type="text" name="Calories" />
                    </p>
                        <input type="submit" value="Сохранить" />
                </form>
            </td>
        </tr>
    }
</table>
}