@model IEnumerable<Milk>

@{
    Layout = "AdminPanel";
}

<h3>Добавить Milk</h3>
<form asp-action="AddMilk" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Volume</label><br />
        <input type="text" name="Volume" />
    </p>
    <p>
        <label>Proteins</label><br />
        <input type="text" name="Proteins" />
    </p>
    <p>
        <label>Fats</label><br />
        <input type="text" name="Fats" />
    </p>
    <p>
        <label>Carbohidrates</label><br />
        <input type="text" name="Carbohidrates" />
    </p>
    <p>
        <label>Calories</label><br />
        <input type="text" name="Calories" />
    </p>
    <input type="submit" value="Добавить" />
</form>

<br />

<h3>Поиск по:</h3>
<form asp-action="Milks" method="post" style="display:flex;">
    <p>
        <label>Name</label><br />
        <input type="text" name="name" />
    </p>
    <input type="submit" value="Фильтр" />
</form>

<table>
    <caption>
        Milk
    </caption>
    <tr>
        <th>
            <a>
                Id
            </a>
        </th>
        <th>
            <a>
                Name
            </a>
        </th>
        <th>
            <a>
                Volume
            </a>
        </th>
        <th>
            <a>
                Proteins
            </a>
        </th>
        <th>
            <a>
                Fats
            </a>
        </th>
        <th>
            <a>
                Carbohidrates
            </a>
        </th>
        <th>
            <a>
                Calories
            </a>
        </th>
    </tr>
    @foreach(Milk m in Model)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Name</td>
            <td>@m.Volume</td>
            <td>@m.Proteins</td>
            <td>@m.Fats</td>
            <td>@m.Carbohidrates</td>
            <td>@m.Calories</td>
            <td style="display:flex;">
                <form asp-controller="Admin" asp-action="DeleteMilk" method="post" asp-route-id="@m.Id" style="display:flex;">
                    <input type="submit" value="Удалить">
                </form>
                <form asp-controller="Admin" asp-action="UpdateMilk" method="post" asp-route-id="@m.Id" style="display:flex;">
                    <p>
                        <label>Name</label><br />
                        <input type="text" name="Name" />
                    </p>
                    <p>
                        <label>Volume</label><br />
                         <input type="text" name="Volume" />
                    </p>
                    <p>
                        <label>Proteins</label><br />
                         <input type="text" name="Proteins" />
                    </p>
                    <p>
                        <label>Fats</label><br />
                         <input type="text" name="Fats" />
                    </p>
                    <p>
                        <label>Carbohidrates</label><br />
                         <input type="text" name="Carbohidrates" />
                    </p>
                    <p>
                        <label>Calories</label><br />
                         <input type="text" name="Calories" />
                    </p>
                        <input type="submit" value="Сохранить" />
                </form>
            </td>
        </tr>
    }
</table>
}


