@model IEnumerable<User>

@{
    Layout = "AdminPanel";
}

<h3>Добавить user</h3>
<form asp-action="AddUser" style="display:flex;">
    <p>
        <label>Login</label><br />
        <input type="text" name="Login" />
    </p>
    <p>
        <label>Password</label><br />
        <input type="text" name="Password" />
    </p>
    <input type="submit" value="Добавить" />
</form>

<br />

<h3>Поиск по:</h3>
<form asp-action="Users" method="post" style="display:flex;">
    <p>
        <label>Login</label><br />
        <input type="text" name="login" />
    </p>
    <input type="submit" value="Фильтр" />
</form>

<table>
    <caption>
        Users
    </caption>
    <tr>
        <th>
            <a>
                Id
            </a>
        </th>
        <th>
            <a>
                Login
            </a>
        </th>
        <th>
            <a>
                Password
            </a>
        </th>
    </tr>
    @foreach(User u in Model)
    {
        <tr>
            <td>@u.Id</td>
            <td>@u.Login</td>
            <td>@u.Password</td>
            <td style="display:flex;">
                <form asp-controller="Admin" asp-action="DeleteUser" method="post" asp-route-id="@u.Id" style="display:flex;">
                    <input type="submit" value="Удалить">
                </form>
                <form asp-controller="Admin" asp-action="UpdateUser" method="post" asp-route-id="@u.Id" style="display:flex;">
                    <p>
                        <label>Login</label><br />
                        <input type="text" name="Login" />
                    </p>
                    <p>
                        <label>Password</label><br />
                         <input type="text" name="Password" />
                    </p>
                        <input type="submit" value="Сохранить" />
                </form>
            </td>
        </tr>
    }
</table>